body{
    color: aqua;
    background-color: brown;
    font-size: 60px;
    font-family: sans-serif;
}
h1{
    font-size: 60px;
    text-align: center;
    text-decoration: none;
    font-style: oblique;

}